 body {
     color: white;
     background: black;
     margin: 0pix;
 }

 header {
     border-bottom: solid 2px #ff0000;
     padding: 20px font-size 32px;
     color: #ff0000
 }


 section {
     background: #ff0000
     padding-top: 15px;
     padding-bottom: 15px;
display: flex;
justify-content: center;
 }