 body {
     color: white;
     background: black;
     margin: 0pix;
 }

 header {
     border-bottom: solid 2px #ff0000;
     padding: 20px font-size 32px;
     color: #ff0000
 }


 section {
     background: #ff0000;
     padding-top: 15px;
     padding-bottom: 15px;
     display: flex;
     justify-content: center;
 }

 .chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
height: 200px;
}